#post {
  margin: 20px auto;
  color: grey;
}
#post ul {
  list-style-type: none;
  margin: 0 10px;
  padding: 0;
}
#post li {
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
}
#post a {
  font-weight:800;
  padding: 15px 10px;
  color: #fff;
}
#post h2 {
  font-size: 2em;
  color: grey;
  padding-bottom: 5px;
}

#post p {

}
