/**** GENERAL ****/
body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

#page {
  max-width:940px;
  margin: 0 auto;
  padding:0 5%;
  background-color: #C8E6C9;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/**** HEADER ****/
header {
  top: 0;
  padding: 5px 0 0 0;
  width: 100%;
  background-color: #4CAF50;
  height: 100px;
  border-bottom: 4px solid #1B5E20;
  color: #fff;
}
h1 {
  font-family:'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
  color: #fff;
}

h2{
  font-size:0.75em;
  margin: -5px 0 0;
  font-weight: normal;
  color: #fff;
}

#logo{
  text-align:center;
  margin: 0;
}
/**** NAVIGATION ****/
nav {
  text-align: center;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0 10px;
  padding: 0;

}
nav li {
  display: inline-block;
  padding: 5px;
  margin-bottom: 50px;
}

nav a {
  font-weight:800;
  padding: 15px 10px;
  color: #fff;
}

#selected {
  color: #1B5E20;
}

nav a:hover {
  color: #1B5E20;
}
/**** MAIN ****/
#portfolio {
  background-color: #C8E6C9;
  margin: 50px 0 0 50px;
  height: 150px;
}

/**** FOOTER ****/
footer {
  height: 200px;
}
footer ul {
  bottom: 0;
  text-align: center;
}
footer li {
  display: inline-block;
  padding: 0 10px 0 10px;
}
.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

footer p {
  text-align: center;
  margin:  0 5px;
}